@import url(https://allfont.ru/allfont.css?fonts=new_zelek);

header, main {
	padding: 20px;
}

body {
	margin: 0;
	font-family: Arial;
}

h1 {
	font-size: 36px;
	font-family: New_Zelek, Arial;
	color: #1D1D1B;
}

h2 {
	font-size: 24px;
	color: #101075;
}

h3 {
	font-size: 20px;
	color: #950A2A;
}

h4 {
	font-size: 16px;
	color: #101075;
}

.page {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
}

th {
	padding: 4px;
	border: 1px solid black;
}

td {
	padding: 4px;
	border: 1px solid black;
}

footer {
	padding: 20px;
	margin-top: auto;
	background: linear-gradient(0deg, #17171C, #030303);
}

footer p {
	color: white;
	font-size: 12px;
	line-height: normal;
}
